{%extends "base.html" %} {% load static %} {%load i18n %} {% load account
socialaccount %} {%load crispy_forms_tags %}{% block head_title %}{% trans "Sign
In" %} {%endblock%} {%block content%}
<!-- login page -->
<div class="container text-center mx-auto">
  <div class="login-header img-position-header">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1>{% trans "Sign In" %}</h1>

      <p>
        {%blocktrans %}Welcome to the Watch blog. To leave a comment or like a
        post, please log in. If you have not created an account yet, then
        <a class="link" href="{{ signup_url }}">Sign Up</a>
        first.{%endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form
        class="login signupin_form"
        method="POST"
        action="{% url 'account_login' %}"
      >
        {%csrf_token %} {{form.as_p }} {%if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {%endif %}
        <button class="btn btn-signup right" type="submit">
          {%trans "Sign In" %}
        </button>
      </form>
      <div class="col-x1-8 col-lg-8 col-md-8 col-sm-8 mt-2 offset-md-3">
        <img
          src="https://res.cloudinary.com/dpo8kigkj/image/upload/v1699447712/watchparts.jpg_gqcvet.jpg"
          alt="watch image default"
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
{%endblock %}
