{%extends 'base.html' %}
{%block content %}

<!--About 'Watch Blog' page-->

<div class="container about-page">

    <div class="row">
        <div class="col-x1-8 col-lg-8 col-md-8 col-sm-8 mt-2 offset-md-3">
            <p>
            <h1>About</h1>
            <span class="brand">WATCH</span><span>|Blog</span> is a watch enthusiast website based in Ireland founded in 2023.
            <br>
            <br>
            The site is an area for watch fans to read reviews and express there likes and dislikes about a watch.
            <br>
            <br>
            Want to contribute? Create an account and post an article.
            <br>
            <br>
            Watch styles and prices are continuous changing, so stay up to date here. 
            <span class="brand">WATCH</span><span>|Blog</span></a>
            </p>
        </div>
        <div class="col-x1-8 col-lg-8 col-md-8 col-sm-8 mt-2 offset-md-3">
            <img src="https://res.cloudinary.com/dpo8kigkj/image/upload/v1699008222/watchservice_jjz2rh.png" width="70%" />
            </p>
        </div>
    </div>

</div>

{%endblock%}