{% extends "base.html" %}
{% block content %}
<div class="container about-page">

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>
            <h1>Contact</h1>
            <p> Please contact us, in the form below. <br>
                If you have any questions or feedback on anything you've seen on the website.</p>
            <form action="" method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn btn-signup" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}