{% extends 'base.html' %} {% block content %}
<div class="center-content">
  <h2>{% if editing %}Edit{% else %}Post{% endif %} an Alert</h2>
  <div class="new-post">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button
        class="btn-primary"
        type="submit"
        aria-label="{% if editing %}Update{% else %}Post{% endif %}"
      >
        {% if editing %}Update{% else %}Post{% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
